QMdiArea {
    border: 0;
    background: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
}
QTabWidget::pane {
    border: 0;
    background: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
}

QMdiArea QTabBar::tab,QTabWidget QTabBar::tab { /* The tab widget frame */
    background: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(0, 0, 0, 200), stop:1 rgba(65, 15, 5, 200));
    color: #fec;
    padding-right:4px;
    margin-right:4px;
    height: 30px;
    border-radius: 8px;
    border: 0;
    min-width: 150px;
}

QMdiArea  QTabBar::tear, QTabWidget QTabBar::tear {
    background: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 rgba(0, 0, 0, 255), stop:1 rgba(0, 0, 0, 0));
    width: 12px;
}

QMdiArea  QAbstractButton {
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 0, 0, 0), stop:1 rgba(125, 55, 25, 255));
    color: #fff;
    border-top: 1px solid rgb(165, 95, 10);
    font-weight: bold;
}

QMdiArea QAbstractButton:open {
    border-color:  rgba(185, 120, 90, 255);
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(155, 100, 0, 255), stop:0 rgba(255, 255, 255, 255));
}

QAbstractButton:open:hover {
    border-color:  rgba(185, 120, 90, 255);
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(175, 130, 30, 255), stop:0 rgba(255, 255, 255, 255));
}

QAbstractButton:hover {
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(165, 110, 10, 255), stop:0 rgba(255, 255, 255, 255));
}


QMdiArea  QTabBar::tab:selected , QTabWidget  QTabBar::tab:selected { /* The tab widget frame */
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 0, 0, 0), stop:1 rgba(125, 55, 25, 255));
    color: #fff;
    border-top: 1px solid rgb(165, 95, 10);
    font-weight: bold;
}

QMdiArea QMdiSubWindow, QScrollArea > QWidget  > QWidget {
    border: 0;
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));    
}


LlampexDockMainMenu LlampexMainMenu LlampexMainMenuFrame QFrame {
    background: transparent;
    border-radius: 6px;
}

LlampexDockMainMenu LlampexMainMenu LlampexMainMenuFrame {
    border-radius: 2px;
    background: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
}

QGroupBox::title {
    margin-top:-10px;
    margin-left: 10px;
}
QGroupBox {
    margin-top: 5px;
}

QWidget QToolButton {
    padding: 2px;
    margin: 0;
    color: #fec;
}

QWidget QToolButton:hover {
    color: #420;
}

QListWidget, QDialog, QLabel, QCheckBox, QAbstractButton, QLineEdit, QFrame, QGroupBox {
    border: 2px solid rgba(120, 70, 53, 100);
    border-radius: 6px;
    padding: 1px 3px;
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(255, 210, 200, 10), stop:0.5 rgba(255, 230, 220, 25), stop:0 rgba(255, 210, 200, 40));
    selection-background-color: rgb(165, 95, 10);
    color: #fec;
}

QAbstractButton {
    padding: 4px 20px;
    border-radius: 4px;
}

QPushButton:open {
    border-color:  rgba(185, 120, 90, 255);
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(155, 100, 0, 55), stop:0 rgba(255, 255, 255, 100));
}
QPushButton:open:hover {
    border-color:  rgba(185, 120, 90, 255);
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(155, 100, 0, 95), stop:0 rgba(255, 255, 255, 155));
}

QPushButton:hover {
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:1 rgba(255, 230, 220, 90), stop:0 rgba(255, 210, 200, 70));
}

/*QScrollArea, QDialog, QMainWindow, LlampexMainMenu, QDockWidget {*/
QWidget:window {
    border: 0;
    border-radius: 0;
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
    color: #eee;
}

QLabel, QCheckBox, QFrame QLabel, QFrame QCheckBox {
    border: 0;
    background: transparent;
    font-size: 12px;
    color: #eee;
}







QScrollBar:vertical { /* colores de fondo generales de la barra */
    border: 2px solid rgba(255, 230, 220, 20);
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
    width: 15px;
    margin: 20px 0px 20px 0;
}

QScrollBar::handle:vertical {
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:0, y2:1, stop:1 rgba(255, 230, 220, 30), stop:0 rgba(255, 210, 200, 20));
    min-width: 20px;
    border: 1px outset rgba(255, 230, 220, 40);
}

QScrollBar::add-line:vertical { /* agregar una linea (flecha abajo o derecha) */
    border: 0;
    height: 20px;
    background: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0;
    height: 20px;
    background: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35, 0, 0, 255), stop:1 rgba(65, 15, 5, 255));
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:open, QScrollBar::add-line:vertical:open {
    background: rgba(255, 230, 220, 120);
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid rgba(255, 230, 220, 40);
    width: 3px;
    height: 3px;
    background: rgba(255, 230, 220, 20);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
